In [1]:
import numpy as np
import pandas as pd
import re

# Read data

In [2]:
# Read data from csv
df = pd.read_csv("data/rental_prices_singapore.csv")

In [3]:
# Show dataframe info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5360 entries, 0 to 5359
Data columns (total 9 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   name                           5360 non-null   object
 1   address                        5011 non-null   object
 2   price                          5360 non-null   object
 3   size                           5360 non-null   object
 4   bedrooms                       5360 non-null   object
 5   bathrooms                      4941 non-null   float64
 6   property_type_furnishing_year  5360 non-null   object
 7   mrt_distance                   4641 non-null   object
 8   agent_description              5360 non-null   object
dtypes: float64(1), object(8)
memory usage: 377.0+ KB

In [4]:
# Show top and bottom five rows
df

,name,address,price,size,bedrooms,bathrooms,property_type_furnishing_year,mrt_distance,agent_description
0,"Brand new Attic Studio, in a Peranakan Conserv...",Lorong 34 Geylang,"3,000",400 sqft,1,1.0,\nApartment\nFully Furnished\n,NaN,One and only attic studio! Beautifully done up...
1,Astor,51C Lengkong Empat,"2,000",1130 sqft,Room,NaN,\nApartment\nFully Furnished\n,11 mins (810 m) to DT28 Kaki Bukit MRT,Comes with In House Maid
2,Springhill Terrace,Sunrise avenue,"7,400",3800 sqft,5,4.0,\nApartment\nFully Furnished\n,NaN,"Close to MRT and short drive to French, Austra..."
3,704 Yishun Avenue 5,704 Yishun Avenue 5,"1,000",120 sqft,Room,NaN,\nApartment\nFully Furnished\n,9 mins (700 m) to NS13 Yishun MRT,Room for 1 or 2 single ladies
4,Espada,48 Saint Thomas Walk,"4,300",689 sqft,1,1.0,\nApartment\nFully Furnished\n,6 mins (420 m) to NS23 Somerset MRT,All units virtual online viewing available! An...
...,...,...,...,...,...,...,...,...,...
5355,Avenue South Residence,13 Silat Avenue,"7,500",947 sqft,3,2.0,\nBungalow House\nPartially Furnished\n,NaN,Newly TOP! Be the first to stay near town!
5356,453B Fernvale Road,453B Fernvale Road,999,150 sqft,Room,NaN,\nBungalow House\nPartially Furnished\n,4 mins (290 m) to SW5 Fernvale LRT,Close to fernvale LRT
5357,Riviere,1 Jiak Kim Street,"8,000",840 sqft,2,2.0,\nBungalow House\nPartially Furnished\n,5 mins (370 m) to TE16 Havelock MRT,Brand new pool facing unit!
5358,Bukit Villas,1 Rasok Drive,"7,100","3025 sqft (floor), 2256 sqft (land)",5,4.0,\nBungalow House\nPartially Furnished\n,NaN,"Tranquil surroundings, facilities included! Po..."
5359,442A Bukit Batok West Avenue 8,442A Bukit Batok West Avenue 8,"4,600",1205 sqft,3,2.0,\nBungalow House\nPartially Furnished\n,7 mins (530 m) to JE2 Tengah Park MRT,Quiet Spacious 5 Room Unit for Rent

# Duplicates

In [5]:
# Diagnose duplicates
df.duplicated().value_counts()

False    5082
True      278
dtype: int64

In [6]:
# Remove duplicates
df = df.drop_duplicates().copy()

In [7]:
# Show dataframe info
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5082 entries, 0 to 5359
Data columns (total 9 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   name                           5082 non-null   object
 1   address                        4754 non-null   object
 2   price                          5082 non-null   object
 3   size                           5082 non-null   object
 4   bedrooms                       5082 non-null   object
 5   bathrooms                      4680 non-null   float64
 6   property_type_furnishing_year  5082 non-null   object
 7   mrt_distance                   4418 non-null   object
 8   agent_description              5082 non-null   object
dtypes: float64(1), object(8)
memory usage: 397.0+ KB

# Feature extraction

## Property type

In [8]:
# Create function to extract property type 
def extract_type(string):
    if "Condominium" in string:
        return "Condominium"
    elif "Apartment" in string:
        return "Apartment"
    elif "HDB Flat" in string:
        return "HDB Flat"
    elif "Semi-Detached House" in string:
        return "Semi-Detached House"
    elif "Good Class Bungalow" in string:
        return "Good Class Bungalow"
    elif "Corner Terrace" in string:
        return "Corner Terrace"
    elif "Detached House" in string:
        return "Detached House"
    elif "Executive Condominium" in string:
        return "Executive Condominium"
    elif "Terraced House" in string:
        return "Terraced House"
    elif "Bungalow House" in string:
        return "Bungalow House"
    elif "Cluster House" in string:
        return "Cluster House"
    else:
        return np.nan

In [9]:
# Apply function to create property type column
df["property_type"] = df["property_type_furnishing_year"].apply(extract_type)

In [10]:
# Frequencies of property types
df["property_type"].value_counts()

Condominium            2770
Apartment               905
HDB Flat                763
Semi-Detached House     188
Good Class Bungalow     174
Corner Terrace          103
Detached House           79
Terraced House           40
Bungalow House           40
Cluster House            20
Name: property_type, dtype: int64

## Furnishing

In [11]:
# Create function to extract information about furnishing  
def extract_furnishing(string):
    if "Fully Furnished" in string:
        return "Fully Furnished"
    elif "Partially Furnished" in string:
        return "Partially Furnished"
    elif "Unfurnished" in string:
        return "Unfurnished"
    else:
        return np.nan

In [12]:
# Apply function to create furnishing column
df["furnishing"] = df["property_type_furnishing_year"].apply(extract_furnishing)

In [13]:
# Frequencies of furnishing
df["furnishing"].value_counts()

Partially Furnished    3058
Fully Furnished        1600
Unfurnished              84
Name: furnishing, dtype: int64

## Built year

In [14]:
# Create function to extract built year 
def extract_year(string):
    year = re.search(r"\b\d{4}\b", string)
    if year:
        return year.group()
    else:
        return np.nan

In [15]:
# Apply function to create built year column
df["year"] = df["property_type_furnishing_year"].apply(extract_year).astype(float)

In [16]:
# Frequencies of built year
df["year"].value_counts()

2023.0    391
2024.0    314
2013.0    297
2017.0    293
2010.0    248
2011.0    239
2014.0    178
2007.0    167
2016.0    160
2009.0    145
2022.0    142
2021.0    140
2015.0    140
2012.0    112
2008.0     99
1997.0     87
2019.0     80
2005.0     80
1995.0     80
1999.0     80
2000.0     63
2001.0     62
1985.0     60
1994.0     60
2004.0     60
1984.0     60
1993.0     60
1986.0     43
1996.0     40
1998.0     40
1987.0     40
2018.0     40
1981.0     40
2003.0     40
1975.0     38
1992.0     20
1971.0     20
1991.0     20
2006.0     20
1983.0     20
1974.0     20
1979.0     20
2002.0     20
1977.0     20
Name: year, dtype: int64

In [17]:
# Delete "property_type_furnishing_year" column
df.drop("property_type_furnishing_year", axis=1, inplace=True)

## MRT distance

In [18]:
# Extract MRT distance in meters
df["meters_to_mrt"] = df["mrt_distance"].str.split(r"m\)").str[0].str.split(r"\(").str[1].astype(float)

In [19]:
# Delete "mrt_distance" column
df.drop("mrt_distance", axis=1, inplace=True)

## Pool

In [37]:
# Create function to extract information about pool  
def extract_pool(string):
    if "pool" in string.lower():
        return True
    else:
        return False

In [38]:
# Apply function to create pool column
df["pool"] = df["agent_description"].apply(extract_pool)

## Extract features from agent description (renovated, seaview, penthouse, short term, garden, pool)

In [46]:
for value in df["agent_description"][df["pool"]==True]:
    print(value)

Super rare 3 bedrooms 2 bathrooms pool facing breezy unit for rent!
Renovated fully furnished with white goods Pool View Mins Walk to Mrt
Privacy,Poolview, Spacious. Stroll to Simei mrt.
Viewing by appt. Best 4 Bedrooms with Private Pool.
5 Bedroom Semi-D with communal swimming pool. Attractive pricing!
Pool view, 3 mins walk to Potong Pasir MRT
Rare dual pool facing, 2bedrooms fully furnished.
Beautiful Pool facing unit! Singapore River View! 3 bed with utility!
New listing! Beautiful One bed Pool Facing for Rent! Squarish Layout
Swimming Pool View and Apartment in Good Condition.
Beautiful Spacious Living Hall Lovely Pool View Unblock Immediate
Beautiful Spacious Living Hall Lovely Pool View Unblock Immediate
Renovated One Bedroom Pool Facing Beautiful Apartment for Rental
Charming 3 storey Home with Pool, 5 bedroom & Garden
Brand New 2 Bedroom with 2 Bathroom for Rent Pool and River View
Spacious Quiet 1br with Swimming Pool View
Vacant Unit w Pool View, Move in Immediately @ East Coast!
MRT, mall, river, brand new, eateries, pool view, 12 months, furnished
Two Units of Corner Terrace with Private Pool and Lift for Rent!
Pool view unit.
Beautiful 4 Bedder with Private Pool & Roof Terrace
Private Pool, terrace and a stunning view!
Brand New Bright Windy Pool View 2 bedroom for rent no agent fees
Pool view 2 plus Study For Rent
Highly Attractive and Affordable Semi-D with Communal Swimming Pool!
Renovated fully furnished with white goods Pool View Mins Walk to Mrt
Brand New Bright Windy Pool View 2 bedroom for rent no agent fees
4 Rooms Ensuites Ground Floor With Patio Facing Pool and Greenery!
Super rare 3 bedrooms 2 bathrooms pool facing breezy unit for rent!
High Floor Pool View
Privacy,Poolview, Spacious. Stroll to Simei mrt.
Viewing by appt. Best 4 Bedrooms with Private Pool.
5 Bedroom Semi-D with communal swimming pool. Attractive pricing!
Pool view, 3 mins walk to Potong Pasir MRT
Rare dual pool facing, 2bedrooms fully furnished.
Beautiful Pool facing unit! Singapore River View! 3 bed with utility!
New listing! Beautiful One bed Pool Facing for Rent! Squarish Layout
Swimming Pool View and Apartment in Good Condition.
Spacious Quiet 1br with Swimming Pool View
Vacant Unit w Pool View, Move in Immediately @ East Coast!
MRT, mall, river, brand new, eateries, pool view, 12 months, furnished
Two Units of Corner Terrace with Private Pool and Lift for Rent!
Pool view unit.
Beautiful 4 Bedder with Private Pool & Roof Terrace
Private Pool, terrace and a stunning view!
Family home semi detached with attic and pool.
High floor, pool view, 2-Bed plus Study 1-Bath Balcony
3 bedrooms with utility room and private lift, pool view
Large rooms! Pool. Garden. Front & Side Patio. Lovely home!
Beautiful Pool facing unit! Singapore River View! 3 bed with utility!
New listing! Beautiful One bed Pool Facing for Rent! Squarish Layout
3-storey Renovated Beautiful Cluster with 5 bedrooms overlooking pool.
Indulging this Fanciful 1 Bedroom overlooking towards Swimming Pool.
Excellent location and unit with pool facing
Brand new 2br high floor, pool view. Near to mrt. Viewing daily!
Brand New Bright Windy Pool View 2 bedroom for rent no agent fees
Highly Attractive and Affordable Semi-D with Communal Swimming Pool!
Looking at 6 months lease, Brand New Unit, Unblock Pool view
Penthouse unit with private pool and lift minutes walk to Novena mall
With pool! Mins walk to MRT, grocery & restaurants
Brand new pool facing unit!
Coronation Road west corner unit with swimming pool
MRT, mall, river, brand new, eateries, pool view, 12 months, furnished
Wow! Brand new! Be the first to enjoy! Full or partial furn. Pool view
Vacant Unit w Pool View, Move in Immediately @ East Coast!
Brand New Bright Windy Pool View 2 bedroom for rent no agent fees
Brand New Luxurious Corner Terrace with Pool and lift Cashew Rd
New 3 Bedroom for rent. Pool view. Proximity to MRT & amenities.
High Floor Pool Facing Unit, Bright and Breezy
Brand new 1br, Pool Facing and aircon
Renovated and Pool Facing Unit!
2 units available. Unblocked full pool and greenery view! Big balcony.
Fully furnished! Best pool facing stack! Just Opposite Eunos MRT!
High floor, pool view, 2-Bed plus Study 1-Bath Balcony
3 bedrooms with utility room and private lift, pool view
3-storey Renovated Beautiful Cluster with 5 bedrooms overlooking pool.
Indulging this Fanciful 1 Bedroom overlooking towards Swimming Pool.
Excellent location and unit with pool facing
Brand new 2br high floor, pool view. Near to mrt. Viewing daily!
Highly Attractive and Affordable Semi-D with Communal Swimming Pool!
Rare dual pool facing, 2bedrooms fully furnished.
Brand New 3 Bedroom 3 Bath. Enclosed Kitchen. River & Pool View. MRT
With pool! Mins walk to MRT, grocery & restaurants
2bed 2 bath, Quiet facing, Pool view
Brand New Listing Available end Sep High Floor Pool View
Brand new actual unit pool facing
Vacant Unit w Pool View, Move in Immediately @ East Coast!
Brand New Bright Windy Pool View 2 bedroom for rent no agent fees
Brand New Luxurious Corner Terrace with Pool and lift Cashew Rd
New 3 Bedroom for rent. Pool view. Proximity to MRT & amenities.
High Floor Pool Facing Unit, Bright and Breezy
Brand new 1br, Pool Facing and aircon
Renovated and Pool Facing Unit!
2 units available. Unblocked full pool and greenery view! Big balcony.
Fully furnished! Best pool facing stack! Just Opposite Eunos MRT!
High floor, pool view, 2-Bed plus Study 1-Bath Balcony
3 bedrooms with utility room and private lift, pool view
Large rooms! Pool. Garden. Front & Side Patio. Lovely home!
Beautiful Pool facing unit! Singapore River View! 3 bed with utility!
New listing! Beautiful One bed Pool Facing for Rent! Squarish Layout
3-storey Renovated Beautiful Cluster with 5 bedrooms overlooking pool.
Spacious Penthouse with pool and unblock view
Brand New Bright Windy Pool View 2 bedroom for rent no agent fees
Brand New 3 Bedroom 3 Bath. Enclosed Kitchen. River & Pool View. MRT
With pool! Mins walk to MRT, grocery & restaurants
2bed 2 bath, Quiet facing, Pool view
Brand New Listing Available end Sep High Floor Pool View
Brand new actual unit pool facing
Vacant Unit w Pool View, Move in Immediately @ East Coast!
Brand New Luxurious Corner Terrace with Pool and lift Cashew Rd
New 3 Bedroom for rent. Pool view. Proximity to MRT & amenities.
High Floor Pool Facing Unit, Bright and Breezy
2 units available. Unblocked full pool and greenery view! Big balcony.
Fully furnished! Best pool facing stack! Just Opposite Eunos MRT!
The Best Pool and Lake view you can ever find in the condo
Brand new 2br high floor, pool view. Near to mrt. Viewing daily!
Brand new 2br high floor, pool view. Near to mrt. Viewing daily!
High Floor Pool View Unit! Available 15th Aug 2023! Well maintained!
Looking at 6 months lease, Brand New Unit, Unblock Pool view
Black and white bunglow with tennis court and swimming pool
Well-maintained Corner terrace with pool
Pool facing, away from MRT tracks but side gate next to MRT station
Pool Facing Spacious Unit! Mins To Town & CBD! Call Now!!
3-storey Renovated Beautiful Cluster with 5 bedrooms overlooking pool.
Brand new actual unit pool facing
Beautiful 3 bedroom with study room pool view
New listing! Beautiful One bed Pool Facing for Rent! Squarish Layout
Balmoral Sui Generis 4 Beds - Pool & Greenery View, Quiet & Private
3 bedrooms with utility room and private lift, pool view
With pool! Mins walk to MRT, grocery & restaurants
Sea view and Pool view 4 bedrooms at The Berth By the Cove
High floor, pool view 1b1b for rent! No west sun!
Corner terrace with 4 huge ensuite bedrooms and swimming pool! Get it!
Best unit, best layout, front face pool back face garden. Ns facing.
Super value rent! Newly renovated 4br penthouse pool. Immediate stay
Pool view. Partial. Quiet. Asking price starting from
Spacious Quiet 1br with Swimming Pool View
Unique Detached Holiday Home with Huge Lawn and Pool
Amazing apartment with the view and private pool for rent!
Indulging this Fanciful 1 Bedroom overlooking towards Swimming Pool.
Nice and Cosy Detached house with Pool! District 15, near Frankel
Four Bedrooms for Rent. Private Pool and lift.
Brand New 2 Bedroom with 2 Bathroom for Rent Pool and River View
Grand Holland V Home with Pool, Private Lift Lobby, Private Car Park
Brand new 1br, Pool Facing and aircon
Lovely 3 bedroom 3 bath with yard, high floor pool and lawn view!
New listing! Beautiful One bed Pool Facing for Rent! Squarish Layout
Beautiful House by Renowned Architect Designer Infinity Pool New Lift
Pool view 2 plus Study For Rent
Spacious Quiet 1br with Swimming Pool View
Rare dual pool facing, 2bedrooms fully furnished.
New Listing! Private pool, lift and parking!
Sky Villa Luxury 4 Bedrooms Penthouse with private pool and Lift
Renovated pool view balcony, MRT & shopping mall
Beautiful 4 Bedroom Unit With Private Pool and Lift
Fully furnished! Best pool facing stack! Just Opposite Eunos MRT!
Luxurious Single-Floor Living With Private Pool and lift
Spacious One Plus Study Furnished Unit With Pool View For Rent!
Resort Home with pool & lift
4 bedder with personal pool
Brand new bungalow with private lift and swimming pool at Frankel Est.
Exclusive - The Best Pool and Lake view you can ever find in the condo
Brand new 2br high floor, pool view. Near to mrt. Viewing daily!
High Floor Pool View Unit! Available 15th Aug 2023! Well maintained!
Looking at 6 months lease, Brand New Unit, Unblock Pool view
Black and white bunglow with tennis court and swimming pool
Family home semi detached with attic and pool.
Beautiful pool and orchard facing fully furnished good condition
Be surrounded by greenery! Lap Pool, Tennis Court, Gym!
Corner terrace with 4 huge ensuite bedrooms and swimming pool! Get it!
Just TOP. 3 bedroom with pool view, totally unblock view from balcony
Indulging this Fanciful 1 Bedroom overlooking towards Swimming Pool.
Nice and Cosy Detached house with Pool! District 15, near Frankel
Four Bedrooms for Rent. Private Pool and lift.
Brand New 2 Bedroom with 2 Bathroom for Rent Pool and River View
Grand Holland V Home with Pool, Private Lift Lobby, Private Car Park
Brand new 1br, Pool Facing and aircon
Lovely 3 bedroom 3 bath with yard, high floor pool and lawn view!
New listing! Beautiful One bed Pool Facing for Rent! Squarish Layout
Beautiful House by Renowned Architect Designer Infinity Pool New Lift
Pool view 2 plus Study For Rent
Rare dual pool facing, 2bedrooms fully furnished.
New Listing! Private pool, lift and parking!
Sky Villa Luxury 4 Bedrooms Penthouse with private pool and Lift
Renovated pool view balcony, MRT & shopping mall
Beautiful 4 Bedroom Unit With Private Pool and Lift
Fully furnished! Best pool facing stack! Just Opposite Eunos MRT!
Luxurious Single-Floor Living With Private Pool and lift
Spacious One Plus Study Furnished Unit With Pool View For Rent!
Resort Home with pool & lift
4 bedder with personal pool
Brand new bungalow with private lift and swimming pool at Frankel Est.
Exclusive - The Best Pool and Lake view you can ever find in the condo
Brand new 2br high floor, pool view. Near to mrt. Viewing daily!
High Floor Pool View Unit! Available 15th Aug 2023! Well maintained!
Looking at 6 months lease, Brand New Unit, Unblock Pool view
Black and white bunglow with tennis court and swimming pool
Brand New Bright Windy Pool View 2 bedroom for rent no agent fees
District 11 Freehold Brand New 4 Bedder Penthouse With Private Pool!
Villa apartment with courtyard and private swimming pool
Beautiful Pool facing unit! Singapore River View! 3 bed with utility!
Beautiful pool and orchard facing fully furnished good condition
Be surrounded by greenery! Lap Pool, Tennis Court, Gym!
Just TOP. 3 bedroom with pool view, totally unblock view from balcony
Indulging this Fanciful 1 Bedroom overlooking towards Swimming Pool.
Nice and Cosy Detached house with Pool! District 15, near Frankel
Four Bedrooms for Rent. Private Pool and lift.
Brand New 2 Bedroom with 2 Bathroom for Rent Pool and River View
Grand Holland V Home with Pool, Private Lift Lobby, Private Car Park
Brand new 1br, Pool Facing and aircon
Lovely 3 bedroom 3 bath with yard, high floor pool and lawn view!
New listing! Beautiful One bed Pool Facing for Rent! Squarish Layout
Beautiful House by Renowned Architect Designer Infinity Pool New Lift
Pool view 2 plus Study For Rent
Spacious Quiet 1br with Swimming Pool View
Rare dual pool facing, 2bedrooms fully furnished.
New Listing! Private pool, lift and parking!
Sky Villa Luxury 4 Bedrooms Penthouse with private pool and Lift
Fully furnished! Best pool facing stack! Just Opposite Eunos MRT!
Luxurious Single-Floor Living With Private Pool and lift
Spacious One Plus Study Furnished Unit With Pool View For Rent!
Resort Home with pool & lift
4 bedder with personal pool
Brand new bungalow with private lift and swimming pool at Frankel Est.
High Floor Pool View Unit! Available 15th Aug 2023! Well maintained!
Highly sought after cluster house! Direct access to pool!
Beautiful 3 bedroom with study room pool view
Premium stack, swimming pool view, river view
Fully furnished! Best pool facing stack! Just Opposite Eunos MRT!
3-storey Renovated Beautiful Cluster with 5 bedrooms overlooking pool.
Brand new actual unit pool facing
Brand new pool facing unit!
Tranquil surroundings, facilities included! Pool, Bbq pits, Playground
Pool facing, away from MRT tracks but side gate next to MRT station
With pool! Mins walk to MRT, grocery & restaurants
High floor, pool view 1b1b for rent! No west sun!
Renovated fully furnished with white goods Pool View Mins Walk to Mrt
Duplex Penthouse 3 Bedrooms with Private Pool
Brand new 2br high floor, pool view. Near to mrt. Viewing daily!
Brand new 1br, Pool Facing and aircon
Brand New Bright Windy Pool View 2 bedroom for rent no agent fees
New Listing. Immediate, fully furnished. Pool view.
Spacious Renovated Pool view 3 bedrooms for rent in Sep 2023!
Pool Facing unit
Pool view. Partial. Quiet. Asking price starting from
No agents fee, Enclosed kitchen, Pool view, Bus to Serangoon MRT
Premium Unit, Unblocked, Tranquil & Pool View, N-S Facing, No West Sun
Spacious Quiet 1br with Swimming Pool View
Grand Holland V Home with Pool, Private Lift Lobby, Private Car Park
Beautiful Unblocked Greenery Pool View. Serene! Luxurious! Exclusive!
Grand Holland V Home with Pool, Private Lift Lobby, Private Car Park
Indulging this Fanciful 3 Bedroom overlooking towards Swimming Pool.
Vacant Unit w Pool View, Move in Immediately @ East Coast!
Bright Pool View Home in Katong
Private cabana overlooking the pool and lawn.
Fraser Residence Orchard Penthouse 4 Bedroom with Pool just behind Ion
Renovated Conservation terrace house with lift, own pool & 2 car poach
Brand New Bright Windy Pool View 2 bedroom for rent no agent fees
Best unit, best layout, front face pool back face garden. Ns facing.
High Floor Pool View Unit! Available 15th Aug 2023! Well maintained!
Highly sought after cluster house! Direct access to pool!
Premium stack, swimming pool view, river view
Fully furnished! Best pool facing stack! Just Opposite Eunos MRT!
3-storey Renovated Beautiful Cluster with 5 bedrooms overlooking pool.
Brand new actual unit pool facing
Pool facing, away from MRT tracks but side gate next to MRT station
With pool! Mins walk to MRT, grocery & restaurants
High floor, pool view 1b1b for rent! No west sun!
Renovated fully furnished with white goods Pool View Mins Walk to Mrt
Duplex Penthouse 3 Bedrooms with Private Pool
Brand new 2br high floor, pool view. Near to mrt. Viewing daily!
Brand new 1br, Pool Facing and aircon
Beautiful 4 Bedroom Unit With Private Pool and Lift
Avail 12 Oct onwards. Pool view, Spacious 2 bedroom For Rent
High Floor! Facing pool! Away from noisy road traffic
Beautiful Unblocked Greenery Pool View. Serene! Luxurious! Exclusive!
Brand New 3 Bedroom (Partial/Fully Furnished), Good Balcony Pool View
3 Bedroom Apartment pool facing unit
Grand Holland V Home with Pool, Private Lift Lobby, Private Car Park
Indulging this Fanciful 3 Bedroom overlooking towards Swimming Pool.
Vacant Unit w Pool View, Move in Immediately @ East Coast!
Bright Pool View Home in Katong
Private cabana overlooking the pool and lawn.
Fraser Residence Orchard Penthouse 4 Bedroom with Pool just behind Ion
Renovated Conservation terrace house with lift, own pool & 2 car poach
Brand New Bright Windy Pool View 2 bedroom for rent no agent fees
Best unit, best layout, front face pool back face garden. Ns facing.
High Floor Pool View Unit! Available 15th Aug 2023! Well maintained!
Highly sought after cluster house! Direct access to pool!
Beautiful 3 bedroom with study room pool view
Premium stack, swimming pool view, river view
Fully furnished! Best pool facing stack! Just Opposite Eunos MRT!
3-storey Renovated Beautiful Cluster with 5 bedrooms overlooking pool.
Brand new actual unit pool facing
Brand new pool facing unit!
Tranquil surroundings, facilities included! Pool, Bbq pits, Playground
Pool facing, away from MRT tracks but side gate next to MRT station
Comes w your own private swimming pool. Lovely home with great layout!
Pool facing, away from MRT tracks but side gate next to MRT station
Beautiful 4 Bedroom Unit With Private Pool and Lift
Avail 12 Oct onwards. Pool view, Spacious 2 bedroom For Rent
High Floor! Facing pool! Away from noisy road traffic
3 Bedroom Apartment pool facing unit
Grand Holland V Home with Pool, Private Lift Lobby, Private Car Park
Indulging this Fanciful 3 Bedroom overlooking towards Swimming Pool.
Vacant Unit w Pool View, Move in Immediately @ East Coast!
Bright Pool View Home in Katong
Private cabana overlooking the pool and lawn.
Fraser Residence Orchard Penthouse 4 Bedroom with Pool just behind Ion
Renovated Conservation terrace house with lift, own pool & 2 car poach
Brand New Bright Windy Pool View 2 bedroom for rent no agent fees
Beautiful 3 bedroom with study room pool view
Premium stack, swimming pool view, river view
Fully furnished! Best pool facing stack! Just Opposite Eunos MRT!
Brand new actual unit pool facing
Brand new pool facing unit!
Tranquil surroundings, facilities included! Pool, Bbq pits, Playground

# Data types

In [20]:
# Convert price from str to int
df["price"] = df["price"].str.replace(",", "").astype(int)

In [21]:
# Convert size (sqft) from str to int
df["size"] = df["size"].str.split("sqft").str[0].astype(int)

# Check data

In [22]:
# Show dataframe info
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5082 entries, 0 to 5359
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               5082 non-null   object
 1   address            4754 non-null   object
 2   price              5082 non-null   int32
 3   size               5082 non-null   int32
 4   bedrooms           5082 non-null   object
 5   bathrooms          4680 non-null   float64
 6   agent_description  5082 non-null   object
 7   property_type      5082 non-null   object
 8   furnishing         4742 non-null   object
 9   year               4398 non-null   float64
 10  meters_to_mrt      4418 non-null   float64
dtypes: float64(3), int32(2), object(6)
memory usage: 436.7+ KB

In [23]:
# Show top and bottom five rows
df

,name,address,price,size,bedrooms,bathrooms,agent_description,property_type,furnishing,year,meters_to_mrt
0,"Brand new Attic Studio, in a Peranakan Conserv...",Lorong 34 Geylang,3000,400,1,1.0,One and only attic studio! Beautifully done up...,Apartment,Fully Furnished,NaN,NaN
1,Astor,51C Lengkong Empat,2000,1130,Room,NaN,Comes with In House Maid,Apartment,Fully Furnished,NaN,810.0
2,Springhill Terrace,Sunrise avenue,7400,3800,5,4.0,"Close to MRT and short drive to French, Austra...",Apartment,Fully Furnished,NaN,NaN
3,704 Yishun Avenue 5,704 Yishun Avenue 5,1000,120,Room,NaN,Room for 1 or 2 single ladies,Apartment,Fully Furnished,NaN,700.0
4,Espada,48 Saint Thomas Walk,4300,689,1,1.0,All units virtual online viewing available! An...,Apartment,Fully Furnished,NaN,420.0
...,...,...,...,...,...,...,...,...,...,...,...
5355,Avenue South Residence,13 Silat Avenue,7500,947,3,2.0,Newly TOP! Be the first to stay near town!,Bungalow House,Partially Furnished,NaN,NaN
5356,453B Fernvale Road,453B Fernvale Road,999,150,Room,NaN,Close to fernvale LRT,Bungalow House,Partially Furnished,NaN,290.0
5357,Riviere,1 Jiak Kim Street,8000,840,2,2.0,Brand new pool facing unit!,Bungalow House,Partially Furnished,NaN,370.0
5358,Bukit Villas,1 Rasok Drive,7100,3025,5,4.0,"Tranquil surroundings, facilities included! Po...",Bungalow House,Partially Furnished,NaN,NaN
5359,442A Bukit Batok West Avenue 8,442A Bukit Batok West Avenue 8,4600,1205,3,2.0,Quiet Spacious 5 Room Unit for Rent,Bungalow House,Partially Furnished,NaN,530.0

# To Do
- Extract latitude and longitude from address
- Get distance to attractive locations in Singapore (e.g., bay area)
- Handle missing values
  - address
  - bathrooms
  - mrt distance
  - furnishing
  - built year